html {
    font-family: Arial; 
    display: inline-block; 
    text-align: center;
}
/* */
h1 { 
    font-size: 2rem;
}
/*  */
body {  
    margin: 0;
}
/*  */
.topnav { 
    overflow: hidden; 
    background-color: #2f4468; 
    color: white; 
    font-size: 1.7rem; 
}
/*  */
.content { 
    padding: 20px; 
}
/*  */
.card { 
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,0.5); 
}
/*  */
.cards { 
    max-width: 700px; margin: 0 auto; 
    display: grid; grid-gap: 2rem;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.reading { 
    font-size: 2.8rem; 
}
.timestamp { 
    color: #bebebe; 
    font-size: 1rem; 
}
.card-title{ 
    font-size: 1.2rem; 
    font-weight : bold; 
}
.card.temperature { 
    color: #B10F2E; 
}
.card.humidity { 
    color: #50B8B4; 
}